<h1>Listing restaurants</h1>

<table>
  <tr>
    <th>Restaurant name</th>
    <th>Review count</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>City</th>
    <th>State</th>
    <th>Zipcode</th>
    <th>Avg rating</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @restaurants.each do |restaurant| %>
  <tr>
    <td><%= restaurant.restaurant_name %></td>
    <td><%= restaurant.review_count %></td>
    <td><%= restaurant.latitude %></td>
    <td><%= restaurant.longitude %></td>
    <td><%= restaurant.city %></td>
    <td><%= restaurant.state %></td>
    <td><%= restaurant.zipcode %></td>
    <td><%= restaurant.avg_rating %></td>
  </tr>
<% end %>
</table>
